:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 125px;
}

table {
  margin-top: 30px;
  border-collapse: collapse;
  width: 80vw;
}
th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #444;
}
th {
  background-color: #3c3c3c;
  font-weight: bold;
}
tr:nth-child(even) {
  background-color: #363636;
}